:root{
--primary-color: rgb(31, 41, 56);

}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
  font-family: "Segoe UI", sans-serif;
}

h1 {
  font-weight: 400;
}

.navbar {
  top: 0;
  z-index: 10;
  position: sticky;
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  height: 45px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.nav-width {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

#name-top {
  font-size: 1.125rem;
  color: white;
  flex-shrink: 0;
  align-items: center;
}

.social-logos {
  display: flex;
  align-items: center;
}

.icons {
  margin-right: auto;
  margin-left: auto;
}

.stack-icons {
  height: 100%;
}

.top-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.first-line-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.second-line-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

h2.dev {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.bottom-bar {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
  height: 40px;
  bottom: 0;
}

.bottom-text {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: medium;
  color: white;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.project-card {
  display: flex;
  background-color: rgb(224, 223, 223);

  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 50rem;
}

.stack-icon {
  height: 50px;
}

.social-img {
  height: 25px;
  margin-right: 0.2rem;
}

.social-l {
  align-items: center;
}

.code-btn {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}

#live-link,
#code-link {
  padding: 10px 15px 10px 15px;
  background-color: rgb(88, 88, 87);
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#live-link:hover,
#code-link:hover {
  background-color: rgb(133, 133, 133);
}

hr {
  margin-top: 1rem;
  width: 50%;
  opacity: 20%;
}

#my-stack {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.top-text {
  font-size: larger;
  max-width: 40rem;
  line-height: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

#project-img {
  display: flex;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

#morecode,
#morevideo {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.109);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  transition: all 400ms ease-in-out;
}

.hidden {
  display: none;
}

#more-btn-div {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#morevideo:hover,
#morecode:hover {
  background-color: rgb(226, 226, 226);
}

.more-vids-text {
  line-height: 1.5rem;
  font-size: large;
  font-weight: 600;
}

#project-text {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.7rem;
}

#link-text {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#link-text:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgb(149, 149, 149);
}

.more-vids-text {
  text-align: center;
  line-height: 1.7rem;
}

h4.project-title {
  margin-bottom: 1.3rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.project-description {
  line-height: 1.8rem;
  font-size: medium;
  margin-top: 0;
}

.pcard,
.vcard {
  animation: slidown 500ms ease-out forwards;

  transform-origin: top;
}

@keyframes slidown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.hidden {
    animation: slidup 500ms ease-out ;
    
    transform-origin: bottom;
}



@keyframes slidup {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  